@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$red: #c62828;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$navbar-background-color: #f44336;

$section-padding: 0rem 0.5rem;

.margin-top-6 {
  margin-top: 60px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.hr {
  padding-bottom: 5px;
  border-bottom: 1px solid $beige-light;
}

@import "../bulma/sass/utilities/_all.sass";
@import "../bulma/sass/base/_all.sass";
@import "../bulma/sass/elements/_all.sass";
@import "../bulma/sass/components/_all.sass";
@import "../bulma/sass/grid/_all.sass";
@import "../bulma/sass/layout/_all.sass";